.user-info{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
}
.user-link{
    font-size: 20px;
    font-weight: normal;
}

.user-avatar{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.user-login{
    margin-top: -20px;
}

.info-block{
    text-align: center
}

.info-label{
    font-size: 20px;
    font-weight: normal;
}

.info-value{
    font-size: 40px;
    font-weight: bold;
}
